<div class="d-flex justify-content-center mb-4 home-carousel">
    <div id="carouselExampleControls" class="carousel slide w-100" data-bs-ride="carousel">
        <div class="carousel-inner">
            <img class="position-relative home-carousel-logo ms-4 mt-4 p-1 rounded-circle" src="{{ asset('build/images/Kossy-08.png') }}" alt="">
            <div class="carousel-item active d-flex justify-content-center">
          <img src="{{ asset('build/images/woman-nails.jpg') }}" class="d-block w-100 home-img" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{{ asset('build/images/woman-red-turban.jpg') }}" class="d-block w-100 home-img" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{{ asset('build/images/man-pink-back.jpg') }}" class="d-block w-100 home-img" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev d-none" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next d-none" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>


{# <h2 class="text-center fw-bold mt-5 p-3">Tendances actuelles</h2>
<div class="row mx-auto my-auto justify-content-center">
  <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="container">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="mx-auto">
                    <div class="row">
                        {% for i in 1..12 %}
                            <div class="col-2 item mb-1">
                                <img class="img-gallery preview rounded mb-1" src="{{ asset('build/images/woman-nails.jpg') }}" data-bs-toggle="modal" data-bs-target="#exampleModal{{ i }}">
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal{{ i }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content border-0">
                                    <div class="modal-header gallery border-0">
                                        <h5 class="modal-title text-center" id="exampleModalLabel"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body bg-dark text-center">
                                        <img class="img-gallery full rounded" src="{{ asset('build/images/woman-nails.jpg') }}">
                                    </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="mx-auto">
                    <div class="row">
                        {% for i in 13..24 %}
                            <div class="col-2 item mb-1">
                                <img class="img-gallery preview rounded" src="{{ asset('build/images/woman-yellow.jpg') }}" data-bs-toggle="modal" data-bs-target="#exampleModal{{ i }}">
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal{{ i }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content border-0">
                                    <div class="modal-header gallery border-0">
                                        <h5 class="modal-title text-center" id="exampleModalLabel"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body bg-dark text-center">
                                        <img class="img-gallery full rounded" src="{{ asset('build/images/woman-yellow.jpg') }}">
                                    </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev fw-bolder" href="#recipeCarousel" role="button" data-bs-slide="prev">
      <i class="bi bi-chevron-double-left fs-1"></i>
    </a>
    <a class="carousel-control-next fw-bolder" href="#recipeCarousel" role="button" data-bs-slide="next">
      <i class="bi bi-chevron-double-right fs-1"></i>
    </a>
  </div>
</div> #}