{% extends 'base.html.twig' %} {% block title %}Register{% endblock %} {% block
    body %}
    
    {# {{ form_start(registrationForm, {attr: {'novalidate': 'novalidate'}}) }}
    {{ form_errors(registrationForm) }} #}
    
    {{ form_row(registrationForm.telephone) }}
    {{
    form_row(registrationForm.plainPassword, {
    label: "Password"
    })
    }}
    {# {{ form_row(registrationForm.firstname) }} #}
    {{ form_row(registrationForm.lastname) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.town) }}
    {{ form_row(registrationForm.district) }}
    
    {{ form_row(registrationForm.agreeTerms) }}
    
    <button type="submit" class="btn">Register</button>
    {# {{ form_end(registrationForm) }} #}
    
    <section class="h-100" style=" background: linear-gradient(#f2d281, #00a19a)">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">
                            <div class="col-xl-6 d-none d-xl-block">
                                <img src="https://i.ibb.co/7jkm51N/Capture-d-e-cran-2022-06-28-a-12-02-04.png"
                                    alt="Sample photo" class="img-fluid"
                                    style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                            </div>
                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 text-uppercase">Inscription</h3>
    
                                    {{ form_start(registrationForm, {attr: {'novalidate': 'novalidate'}}) }}
                                    {{ form_errors(registrationForm) }}
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1m"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example1m">Prénom</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1n"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example1n">Nom</label>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1m1"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example1m1">Numéro de téléphone</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1n1"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example1n1">Email</label>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1m1"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example1m1">Mot de passe</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1n1"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example1n1">Confirmation du mot de
                                                    passe</label>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
    
                                            <select class="select">
                                                <option value="1">Ville</option>
                                                <option value="2">Douala</option>
                                                <option value="3">Abidjan</option>
                                                <option value="4">Dakar</option>
                                            </select>
    
                                        </div>
                                        <div class="col-md-6 mb-4">
    
                                            <select class="select">
                                                <option value="1">Quartier</option>
                                                <option value="2">Banyangui</option>
                                                <option value="3">Akwa</option>
                                                <option value="4">Bell</option>
                                            </select>
    
                                        </div>
                                    </div>
    
                                    <div class="d-flex justify-content-end pt-3">
                                        <button type="button" class="btn btn-dark btn-lg">Reset all</button>
                                        <button type="button" class="btn btn-info btn-lg ms-2">Valider</button>
                                    </div>
                                    {{ form_end(registrationForm) }}
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}