{% extends 'base-login.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section id="register-form" class="position-relative h-100">
    <div class="row d-flex align-items-center">
        <div class="col col-xl-11">
            <div class="card">
                <div class="row g-0">

                    <div class="col-md-6 col-lg-5 d-none d-lg-block">
                        <img src="https://i.ibb.co/Chw30Sp/Capture-d-e-cran-2022-07-04-a-15-48-55.png"
                            alt="Sample photo" class="img-fluid image-register" style="height:100vh" />
                    </div>

                    <div class="col-auto col-md-7 d-md-flex mt-4 mt-lg-0 mx-auto">
                        <div class="card-body p-4 p-lg-5 text-black">
                            <div class="mb-3 pb-1 text-center text-md-start">
                                <span class="h1 fw-bold mb-0">Kossy Beauty</span>
                            </div>
                            <h5 class="fw-normal mb-3 pb-3 text-center text-md-start" style="letter-spacing: 1px;">
                                <i class="bi bi-person-badge"></i> | Création d'un nouveau compte
                            </h5>

                            {{ form_start(registrationForm, {attr: {'novalidate': 'novalidate'}}) }}
                            {{ form_errors(registrationForm) }}

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ form_widget(registrationForm.firstname, {'attr': {'class': 'form-control
                                        form-control-lg'}}) }}
                                        <label class="form-label" for="form3Example1m">Prénom</label>
                                        {{ form_errors(registrationForm.firstname) }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ form_widget(registrationForm.lastname, {'attr': {'class': 'form-control
                                        form-control-lg'}}) }}
                                        <label class="form-label" for="form3Example1n">Nom</label>
                                        {{ form_errors(registrationForm.lastname) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ form_widget(registrationForm.telephone, {'attr': {'class': 'form-control
                                        form-control-lg'}}) }}
                                        <label class="form-label" for="form3Example1m1">Téléphone <span class="color-red">(Whatsapp requis !)</span></label>
                                        {{ form_errors(registrationForm.telephone) }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control
                                        form-control-lg'}}) }}
                                        <label class="form-label" for="form3Example1n1">Email</label>
                                        {{ form_errors(registrationForm.email) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class':
                                        'form-control form-control-lg'}} ) }}
                                        <label class="form-label" for="form3Example1m1">Mot de passe</label>
                                        {{ form_errors(registrationForm.plainPassword.first) }}
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class':
                                        'form-control form-control-lg'}} ) }}
                                        <label class="form-label" for="form3Example1n1">Confirmation du mot de passe</label>
                                        {{ form_errors(registrationForm.plainPassword.second) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ form_widget(registrationForm.town, {'attr': {'class': 'form-control
                                        form-control-lg'}}) }}
                                        <label class="form-label" for="form3Example1n1">Ville</label>
                                        {{ form_errors(registrationForm.town) }}
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ form_widget(registrationForm.district, {'attr': {'class': 'form-control
                                        form-control-lg'}}) }}
                                        <label class="form-label" for="form3Example1n1">Quartier</label>
                                    </div>
                                </div>
                            </div>

                            <div class="">
                                <div class="form-outline">
                                    {{ form_widget(registrationForm.agreeTerms) }}
                                    <label class="form-label" for="form3Example1n1">Accepter les conditions
                                        d'utilisation</label>
                                    {{ form_errors(registrationForm.agreeTerms) }}
                                </div>
                            </div>

                            <div class="d-flex justify-content-center pt-3">
                                <button type="submit" class="btn btn-success btn-lg ms-2">Valider | <i class="bi bi-person-check-fill"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ form_end(registrationForm) }}

{% endblock %}