{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
 
<div class="container ">
    <ul class="d-flex list-unstyled justify-content-evenly">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">Clients</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">Prestataires</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">Administrateurs</button>
    </ul>
</div>
<div class="col">
    <div class="collapse" id="collapseExample1">
        <div class="card card-body">
            <div>
                <ul>
                    {% for user in users %}
                        {% for role in user.roles %}
                            {% if 'ROLE_USER' in user.roles and user.roles|length < 2 %}
                                <div class="d-flex list-unstyled justify-content-evenly">
                                    <li>{{ user.lastname }}</li>
                                    <li>{{ user.firstname }}</li>
                                </div>                               
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="collapse" id="collapseExample2">
        <div class="card card-body">
            <div>
                <ul>
                    {% for user in users %}
                        {% for role in user.roles %}
                            {% if role == 'ROLE_PROVIDER' %}
                                <div class="d-flex list-unstyled justify-content-evenly">
                                    <li>{{ user.id }}</li>
                                    <li>{{ role }}</li>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="collapse" id="collapseExample3">
        <div class="card card-body">
            <div>
                <ul>
                    {% for user in users %}
                        {% for role in user.roles %}
                            {% if role == 'ROLE_ADMIN' %}
                                <div class="d-flex list-unstyled justify-content-evenly">   
                                    <li>{{ user.id }}</li>
                                    <li>{{ role }}</li>
                                </div>   
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
