{% extends 'base.html.twig' %} {% block title %}Conversation{% endblock %} 

{% block body %}
<div class="container w-75 mb-2 d-flex align-items-center justify-content-between">
    <a class="btn btn-outline-secondary" href="{{ path('app_my_conversations') }}">Retour</a>
   {% if is_granted('ROLE_PROVIDER') %}
        <p class="m-0">Conversation avec {{ conversation.users.1.firstname }}</p>
        {% else %}
        <p class="m-0">Conversation avec {{ conversation.users.0.firstname }}</p>
        {% endif %}
</div>

    <div class="container w-75 bg-light border p-2 rounded overflow-scroll messages-box">
        {% for message in messages %} 
        {% if message.author.id is same as app.user.id %}
        <div class="row">
            <div class="col mb-2"></div>
            <div class="col mb-2">
                <p class="m-0 ms-auto text-end">{{ message.createdAt|date('Y-m-d H:i') }}</p>
                <div class="bg-primary-kb rounded-start p-2">{{ message.content }}</div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col mb-2">
                <p class="m-0 ms-auto">{{ message.createdAt|date('Y-m-d H:i') }}</p>
                <div class="p-2 bg-secondary-kb rounded-end">
                    {{ message.content }}
                </div>
            </div>
            <div class="col mb-2"></div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="container w-50 mt-3">
            {{ form_start(form) }}
            {{ form_widget(form.content, {'attr': {'class': 'form-control
                form-control-lg'}}) }}
            <button class="btn btn-success mt-2">{{ button_label|default('Envoyer') }}</button>
            
            {{ form_end(form) }}
</div>




{% endblock %}
