{% extends 'base.html.twig' %} {% block title %}Conversation{% endblock %} 

{% block body %}
<div class="">
    <div class="container w-50">
        {% for message in messages %} 
        {% if message.author.id is same as app.user.id %}
        <div class="row">
            <div class="col"></div>
            <div class="col text-center">
                {{ message.content }}
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col text-center">
                {{ message.content }}
            </div>
            <div class="col"></div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="container w-50">
        <table>
            {{ form_start(form) }}
            <td>{{ form_row(form.content) }}</td>
            <td><button class="btn">{{ button_label|default('Envoyer') }}</button></td>
            
            {{ form_end(form) }}
        </table>
    
    
</div>
</div>
{% endblock %}
