{% extends 'base.html.twig' %} {% block title %}My conversations{% endblock %}
{% block body %}

{% for conversation in conversations|sort((a, b) => b.lastMessage.createdAt|date('Y-m-d H:i:s') <=> a.lastMessage.createdAt|date('Y-m-d H:i:s')) %}
{% if conversation.lastMessage.author is not same as app.user and conversation.lastMessage.isSeen is same as false %}
<div class="card mt-3 mb-3 border-2 border-danger">
    <div class="card-header d-flex border-1 border-danger">
    {% else %}
    <div class="card mt-3 mb-3">
        <div class="card-header d-flex">
    {% endif %}

        <p class="m-0">
            Dernier message : 
            {{ conversation.lastMessage.author.firstname }} le
            {{ conversation.lastMessage.createdAt|date('d-m-Y') }} à
            {{ conversation.lastMessage.createdAt|date('H:i:s') }}
        </p>
    </div>
    <div class="card-body">
        {% if is_granted('ROLE_PROVIDER') %}
        <h5 class="card-title">
            {{ conversation.subject }}, pour
            {{ conversation.users.1.firstname }}
        </h5>
        {% else %}
        <h5 class="card-title">
            {{ conversation.subject }}, par {{ conversation.users.0.firstname }}
        </h5>
        {% endif %}
        <div class="d-flex">
            {% if conversation.lastMessage.author is not same as app.user and conversation.lastMessage.isSeen is same as false %}
            <i class="bi bi-exclamation-circle-fill color-red me-3"></i>
        {% endif %}
        <p class="card-text">{{ conversation.lastMessage.content }}</p>
    </div>
        <a
            href="{{ path('app_conversation', { id: conversation.id }) }}"
            class="btn btn-success mt-2"
            >Répondre</a
        >
    </div>
</div>

{% endfor %} {% endblock %}
