    <div class="container d-flex justify-content-center mt-2">
    {% for category in categories.getAll %}
    <div class="me-3">
        <p>
            <button
                class="btn btn-primary"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#category{{ category.id }}"
                aria-expanded="false"
                aria-controls="collapseExample"
            >
                {{ category.name }}
            </button>
        </p>

        <div class="collapse" id="category{{ category.id }}">
            <div class="card card-body">
                {% for service in services.getServiceByCategoryId(category.id) %}
                <a href="{{ path('app_provider_service_show_provider_by_service', {id: service.id}) }}">{{ service.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>