    <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
        {% for category in categories.getAll %}
        <li class="nav-item" role="presentation">
            <button class="nav-link color-black px-4 py-2" id="profile-tab" data-bs-toggle="tab" data-bs-target="#category{{ category.id }}"
                type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                {{ category.name }}
            </button>
        </li>
        {% endfor %}
    </ul>
    <div class="tab-content d-flex justify-content-center" id="myTabContent">
        {% for category in categories.getAll %}
        <div class="tab-pane fade" id="category{{ category.id }}" role="tabpanel" aria-labelledby="profile-tab"
            tabindex="0">
            <div class="row row-cols-1 row-cols-md-5 g-4 mt-1">
                {% for service in services.getServiceByCategoryId(category.id)%}
                <div class="col">
                    <div class="card d-flex align-items-center pt-1">
                        <img src="https://picsum.photos/200" class="card-img-top w-25 rounded-circle" alt="..." />
                        <div class="card-body p-1">
                            <p class="card-text">
                                <a href="{{ path('app_provider_service_show_provider_by_service', {id: service.id}) }}">{{
                                    service.name }}</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
