{% extends 'base-login.html.twig' %}
{% block title %}Login{% endblock %}
{% block body %}

    {% if error %}
    <div>
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
    {% endif %}

    <section id="login-form" class="position-relative w-100">
        <div class="row d-flex align-items-center">
            <div class="col col-xl-10">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                alt="login form" style="height:100vh" />
                        </div>
                        <div class="col-auto col-md-6 col-lg-7 d-flex align-items-center form-content-login mx-3 mx-md-0">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <div class="mb-3 pb-1 text-center text-md-start">
                                    <span class="h1 fw-bold mb-0">Kossy Beauty</span>
                                </div>
                                <h5 class="fw-normal mb-3 pb-3 text-center text-md-start" style="letter-spacing: 1px;">Connectez-vous à
                                    votre compte</h5>

                                <form action="{{ path('login') }}" method="post">
                                    <div class="form-outline mb-4">
                                        <div class="input-group">
                                            <div class="input-group-text px-4 fs-4">
                                                <i class="bi bi-telephone-fill"></i>
                                            </div>
                                            <input type="text" id="username" name="_username"
                                                class="form-control form-control-lg" value="{{ last_username }}" />
                                        </div>
                                        <label class="form-label" for="form2Example17">Numéro de téléphone</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div class="input-group">
                                            <div class="input-group-text px-4 fs-4">
                                                <i class="bi bi-incognito"></i>
                                            </div>
                                            <input type="password" id="password" name="_password"
                                            class="form-control form-control-lg" />
                                        </div>
                                        <label class="form-label" for="password">Mot de passe</label>
                                    </div>

                                    <input type="hidden" name="_target_path" value="/" />
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

                                    <div class="text-center pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit"><i class="bi bi-power"></i> Se connecter</button>
                                    </div>
                                </form>
                                <p class="text-center pb-lg-2" style="color: #393f81;">
                                    Vous n'avez-pas de compte ?
                                    <a href="/register" style="color: #393f81;">Inscrivez-vous</a> | <a class="small text-muted" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
                                </p>
                                <p class="text-center">
                                    <a class="color-black" href="{{ path('app_register_pro') }}"><i class="bi bi-plus-square me-2"></i>Devenir prestataire</a>
                                </p>                         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}