<!-- Modal -->
<div class="modal fade" id="nousContacterModal" tabindex="-1" aria-labelledby="nousContacterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nousContacterModalLabel">Nous contacter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for item in globalContactMailCopyright.getAll %}
        <p>{{ item.email }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<footer class="text-center text-white">
  <div class="container">
    <div class="row py-4">
      <div class="col-6 col-lg-4">
        <a class="d-block" href="{{ path('home') }}">Page d'accueil</a>
        {% if is_granted("ROLE_USER") %}
          <a class="d-block" href="{{ path('app_user_show', {id: app.user.id}) }}">Profil</a>
        {% else %}
          <a class="d-block" href="{{ path('login') }}">Inscription/Connexion</a>
        {% endif %}
        <a class="d-block" href="{{ path('app_register_pro') }}">Professionnels</a>
      </div>
      <div class="col-6 col-lg-4">
        <a class="d-block" href="">A propos de Kossy Beauty</a>
        <!-- Button trigger modal -->
        <a class="d-block" data-bs-toggle="modal" data-bs-target="#nousContacterModal" href="">Nous contacter</a>
    
      </div>
      <hr class="d-block d-lg-none mt-4">
      <div class="col-auto col-lg-4 mt-4 mt-lg-0 text-center">
        <span class="text-success">Kossy Beauty est un site de mise en relation entre les profesionnels de la cosmétique et les particuliers.</span>
        <span class="text-success">Trouvez en quelques clics les meilleurs professionnels les plus proches de chez vous.</span>
      </div>
    </div>
    <hr />
    <div class="text-center p-3 pb-5" >
    {% for item in globalContactMailCopyright.getAll %}
    <p>{{ item.copyright }}</p>
      {% endfor %}
    </div>
  </div>
</footer>
