{% extends 'base.html.twig' %}

{% block title %}Résultats de recherche{% endblock %}

{% block body %}

    {% if app.request.method == 'POST' %}

        {% if searchedServices | length == 0 %}
            <h4 class="center mt-3">Aucun services nommé {{ app.request.get('search') }} a été trouvé</h4>
        {% else %}
            <h4 class="center mt-3">Vos résulats de recherche pour {{ app.request.get('searchedServices') }} : </h4>
            
            <div class="row">
                <div class="col-4">
                    <h5 class="center">Liste des services associés à votre recherche</h5>
                    {% for searchedService in searchedServices %}
                        <div class="mt-3 p-3 bg-light border rounded">
                            <a href="{{ path('app_service_show', {'id': searchedService.id}) }}">
                                <h6 class="text-dark"><i class="bi bi-arrow-down-right-square-fill text-primary"></i> {{ searchedService.name }}</h6>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-8">
                    <h5 class="center">Liste des prestataires proposant les services associés</h5>
                    {% for provider in providers %}
                        {# {{ dump(provider.providerServices) }} #}
                        
                        {{ provider.id }}

                        {% if provider.companyName is null %}
                            {{ provider.firstName }} {{ provider.lastName }}
                        {% else %}
                            {{ provider.companyName }}
                        {% endif %}

                        {{ provider.town }}

                        {{ provider.companyDescription }}

                    {% else %}
                        <div class="alert alert-warning center">Il n'y a pas de providers proposant ce service</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    {% endif %}

{% endblock %}
