{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}

{% if app.request.method == 'POST' %}
    <div>
        {% if searchedServices | length == 0 %}
            <h4 class="center">Aucun résulat pour votre recherche pour : </h4>
        {% else %}
            <h3 class="mt-3">Vos résulats de recherche pour :</h3>

            {% for provider in providers %}
                {# {{ dump(provider)}} #}
                {% for services in provider %}
                    {# {{ dump(services)}} #}
                    {{ services.provider.name}}
                {% endfor %}
                {{ provider[0].id }}
            {% else %}
                <p>No providers</p>
            {% endfor %}

            {% for searchedService in searchedServices %}
                <div class="mt-3 p-3 bg-light border rounded">
                    <a href="{{ path('app_service_show', {'id': searchedService.id}) }}">
                        <h6 class="text-dark"><i class="bi bi-arrow-down-right-square-fill text-primary"></i> {{ searchedService.name }}</h6>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
     </div>
{% endif %}
{% endblock %}
