{% extends 'base.html.twig' %}

{% block title %}Résultats de recherche{% endblock %}

{% block body %}

    {% if searchedServices | length == 0 or providers | length == 0 %}
        <h4 class="text-center fw-bold mb-5">
            <i class="bi bi-search"></i> | Aucun service nommé <span class="text-muted fst-italic">{{ keyword }}</span> à <span class="text-muted fst-italic">{{ location }}</span> n'a été trouvé !
        </h4>
        <div class="text-center">
            <a href="{{ path('home') }}" class="btn btn-primary"><i class="bi bi-arrow-left-square pe-1 align-middle"></i> Retour à la page d'accueil</a>
        </div>
    {% else %}
        <h4 class="d-none d-md-block text-center fw-bold mb-5">
            <i class="bi bi-search"></i> | Vos résulats de recherche pour <span class="text-muted fst-italic">{{ keyword }}</span>  à <span class="text-muted fst-italic">{{ location }}</span> 
        </h4>
        
        <div class="d-flex">
            <div class="d-flex flex-wrap flex-column-reverse flex-md-row">
                <div class="col-lg-3 border border-top-0 border-bottom-0 border-start-0 pe-md-4 ps-md-0">
                    <h5 class="d-none d-md-block text-center mb-3">Liste des services associés à votre recherche</h5>
                    <div class="badge bg-primary text-wrap w-100 fw-normal lh-sm fs-6 p-2 mb-3">Vous pouvez choisir l'un des services ci-dessous pour filtrer votre recherche</div>
                    {% for searchedService in searchedServices %}
                        <div class="px-2 py-3 bg-light text-dark border-bottom">
                            <a class="text-decoration-none" href="{{ path('querySearch', {'keyword': searchedService.name}) }}">
                                <h6 class="text-monospace text-capitalize mb-0"><i class="bi bi-search me-1"></i> {{ searchedService.name }}</h6>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                
                <div class="col-md-9 mb-2">
                    <h5 class="d-none d-md-block text-center mb-3 mt-3">Liste des prestataires proposant les services associés à votre recherche</h5>
                    
                    <div class="container">
                        <div class="d-flex flex-wrap gap-1 justify-content-center justify-content-lg-start">
                            {% for key, provider in providers %}
                                <div class="">
                                    <div class="card text-center mx-2 p-0 mb-3" style="width:18rem">
                                        <div class="position-relative">
                                        <div class="favorite text-secondary text-end pe-2 pt-1">
                                            <a class="text-secondary" href="#"><i class="bi bi-star fs-4"></i></a>
                                        </div>
                                        <div class="d-flex flex-column align-items-center text-center">
                                            {% if provider.0.image is not null %}
                                            <img
                                                class="rounded-circle profile-image"
                                                src="{{ vich_uploader_asset(provider.0) }}"
                                            />
                                            {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                              </svg>
                                            {% endif %}
                                        </div>
                                        <div class="card-body">
                                            <a class="provider-link" href="{{ path('app_provider_services_list', {id: provider.0.id }) }}">
                                                <h6 class="card-title text-break stretched-link">
                                                    {% if provider.0.companyName is null %}
                                                        {{ provider.0.firstName }} {{ provider.0.lastName }}
                                                    {% else %}
                                                        {{ provider.0.companyName }}
                                                    {% endif %}
                                                </h6>
                                            </a>
                                            <p class="fw-bold">
                                                <span class="text-primary"><i class="bi bi-wallet2"></i>
                                                    {{ provider.1.price }} €
                                                </span>
                                                | <i class="bi bi-clock-history"></i>
                                                {{ provider.1.duration }} minutes
                                            </p>
                                        </div>
                                    </div>
                                        <div class="card-footer">
                                            {% if app.user.roles.1 is defined %}
                                            {% elseif app.user is defined %}
                                                <a href="{{ path('app_create_conversation', {id: provider.0.id, service: provider.1.service.name}) }}" class="btn btn-success" role="button">Envoyer un message</a>
                                            {% elseif not app.user %}
                                                <a href="{{ path('login') }}" class="btn btn-success" role="button">Envoyer un message</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="alert alert-warning center">Il n'y a pas de providers proposant ce service</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
