    <div class="container-fluid me-3">
        <div>
            {{ form_start(searchForm, {attr: {
                'class' : 'search-form d-flex mx-auto',
            }}) }}
                {{ form_errors(searchForm) }}
                <div class="input-group flex-nowrap">
                    <span id="tooltip-geolocation" class="input-group-text tooltip-geolocation d-done d-md-block px-2"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true"
                        title="Vous avez été automatiquement géolocalisé à <b><u>{{ geolocation.getDistrict }}</u></b>.
                        <br />Vous pouvez changer ce choix avant d'effectuer une recherche">
                        <i class="bi bi-geo-alt-fill text-dark fw-bolder"></i>
                    </span>
                    <div class="input-group-prepend">
                        <select name="district" class="form-select btn btn-light border border-1 text-nowrap text-dark rounded-0 select-locations">
                            <option value="{{ geolocation.district }}">{{ geolocation.district }}</option>
                            {% for district in geolocation.getDistricts('Cameroon', 'Douala') %}
                                <option value="{{ district }}">{{ district }}</option>
                            {% endfor %}
                        </select>
                        {{ form_widget(searchForm.district) }}
                    </div>
                    <div class="input-group-append">
                        {{ form_widget(searchForm.query) }} 
                    </div>
                    {{ form_widget(searchForm.recherche) }}
                </div>
            {{ form_end(searchForm) }}
        </div>
    </div>
