{% extends 'base.html.twig' %}

{% block title %}Conversation{% endblock %}

{% block body %}
    <h1>Conversation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conversation.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ conversation.createdAt ? conversation.createdAt|date('Y-m-d H:i:s T') : '' }}</td>
            </tr>
            <tr>
                <th>IsRead</th>
                <td>{{ conversation.isRead ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_conversation_index') }}">back to list</a>

    <a href="{{ path('app_conversation_edit', {'id': conversation.id}) }}">edit</a>

    {{ include('conversation/_delete_form.html.twig') }}
{% endblock %}
