{{ form_start(userForm) }}

<div class="container rounded bg-white">
    <div class="row ">
        <div class="col-md-2 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"></span>  
            </div>
        </div>
        <div class="col-md-5 border-right mt-5">
            <div class="p-3 py-5">
                <div class="row ">
                    <div class="col-md-6"><div>{{ form_row(userForm.firstname) }}</div></div>
                    <div class="col-md-6"><div>{{ form_row(userForm.lastname) }}</div></div>
                    <div class="col-md-6"><div>{{ form_row(userForm.telephone) }}</div></div> 
                    <div class="col-md-6"><div>{{ form_row(userForm.email) }}</div></div>
                    {% if is_granted("ROLE_PROVIDER") %}
                    <div class="col-md-6"><div>{{ form_row(userForm.companyName) }}</div></div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-5 border-right mt-5">
            <div class="p-3 py-5">
                <div class="row">
                    <div class="col-md-6"><div>{{ form_row(userForm.town) }}</div></div>
                    <div class="col-md-6"><div>{{ form_row(userForm.district) }}</div></div>
                    {% if is_granted("ROLE_PROVIDER") %}
                    <div class="col-md-6"><div>{{ form_row(userForm.companyDescription) }}</div></div>
                    {% endif %}              
                </div>
            </div>
        </div> 
    </div>
</div>
</div>
</div>

<div class="container d-flex justify-content-center">
    <div class="text-center m-3"><button class="btn btn-primary profile-button">{{ button_label|default('Save') }}</button></div>
</div>



{{ form_end(userForm) }}
