{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}


<h1 class="mb-0">Profil de {{ user.firstname ~ ' ' ~ user.lastname }}</h1>

<div class="container rounded bg-white">
    <div class="row">
        <div class="col-md-2 border-right">
            <div class="d-flex flex-column align-items-center text-center px-3 pt-md-4 mt-4 mt-md-2">
                {% if user.image %}
                    <img class="profile-image rounded-circle" src="{{ vich_uploader_asset(user) }}" alt="Profile picture of the provider">
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                {% endif %}
            </div>
            {% if is_granted("ROLE_ADMIN") %}
            <span>{{ user.id }}</span>
            {% endif %}
            <span class="text-black-50"></span>
            </div>
        </div>
        <div class="col-md-10 border-right mt-md-4 d-md-flex">
            <div class="px-3 pt-0">
                <div class="row ">
                    <div class="col-md-6 pt-2"><label class="labels">Prénom</label><div class="form-control">{{ user.firstname }}</div></div>
                    <div class="col-md-6 pt-2"><label class="labels">Nom</label><div class="form-control">{{ user.lastname }}</div></div>
                    <div class="col-md-6 pt-2"><label class="labels">Téléphone</label><div class="form-control">{{ user.telephone }}</div></div>
                    <div class="col-md-6 pt-2"><label class="labels">Email</label><div class="form-control">{{ user.email ? user.email : 'Non renseigné' }}</div></div>
                    <div class="col-md-6 pt-2"><label class="labels">Mot de passe</label><div class="form-control">*********</div></div>
                    <div class="col-md-6 pt-2"><label class="labels">Ville</label><div class="form-control">{{ user.town ? user.town : 'Non renseigné' }}</div></div>
                    <div class="col-md-6 pt-2"><label class="labels">Quartier</label><div class="form-control">{{ user.district ? user.district : 'Non renseigné' }}</div></div>
                    {% if is_granted("ROLE_PROVIDER") %}
                    <div class="col-md-6 pt-2"><label class="labels">Entreprise</label><div class="form-control">{{ user.companyName ? user.companyName : 'Non renseigné' }}</div></div>
                    <div class="col-md-6 pt-2"><label class="labels">Description</label><div class="form-control">{{ user.companyDescription ? user.companyDescription : 'Non renseigné' }}</div></div>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                    <div class="col-md-6 pt-2"><label class="labels">Facture</label><div class="form-control">{{ user.isTop ? 'Yes' : 'No' }}</div></div>
                    <div class="col-md-6 pt-2"><label class="labels">Archivé</label><div class="form-control">{{ user.isArchived ? 'Yes' : 'No' }}</div></div>
                    <div class="col-md-6 pt-2"><label class="labels">Role</label><div class="form-control">{{ role }}</div></div>
                    {% endif %}
                    <div class="container d-flex justify-content-center pt-3">
                        <div class="text-center m-3"><a class="btn btn-success profile-button" href="{{ path('app_user_index') }}"><i class="bi bi-arrow-left"> </i><div class="d-none d-md-inline-flex">Retour</div></a></div>
                        {% if user.id == app.user.id %}
                        <div class="text-center m-3"><a class="btn btn-success profile-button" href="{{ path('app_user_edit', {'id': user.id}) }}"><div class="d-none d-md-inline-flex me-1">Editer</div><i class="bi bi-pen"></i></a></div>
                        {% endif %}
                        <div class="text-center m-3"><a>{{ include('user/_delete_form.html.twig') }}</a></div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
</div>
</div>


 
{% endblock %}

