{% extends 'base.html.twig' %}

{% block title %}ProviderService index{% endblock %}

{% block body %}

<div class="d-flex gap-4 align-items-end">
    <div><img class="rounded-circle" src="https://picsum.photos/150" alt="photo presta"></div>
    <div>
        <h1>{{user.companyName}}</h1>
        <p class="mb-0">{{user.town}}</p>
        <p class="mb-0">{{user.district}} Quartier</p>
    </div>
</div>

    <div class="d-flex">
        <h2 class="" id="headingOne">
            <button class="btn-admin btn btn-light bg-white border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Prestations
            </button>
        </h2>
        <h2 class="" id="headingTwo">
            <button class="btn-admin btn btn-light bg-white border-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Disponibilités
            </button>
        </h2>
        <h2 class="" id="headingThree">
            <button class="btn-admin btn btn-light bg-white border-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Gallerie
            </button>
        </h2>
    </div>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="container border border-dark">
            <div class="container px-0">
                    <div class="d-flex rounded-pill fw-bolder">
                        <p class="col-4 mt-3 ms-3">Prestation</p>
                        <div class="d-flex col-4 justify-content-around mt-3">
                            <p>Prix</p>
                            <p>Durée</p>
                        </div>
                    </div>
            </div>
            <div class="container px-0">
                {% for service in services %}
                    <div class="d-flex border border-dark mb-3 rounded-pill">
                        <p class="col-4 mt-3 ms-3">{{ service.service.name }}</p>
                        <div class="d-flex col-4 justify-content-around mt-3">
                            <p>{{ service.price }} €</p>
                            <p>{{ service.duration }} minutes</p>
                        </div>
                        <p class="d-flex col-4 justify-content-center mt-3"><a href="{{ path('app_service_show', {'id': service.service.id}) }}">Détail</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{# <a href="{{ path('app_provider_service_new') }}">Create new</a> #}
{% endblock %}
