{% extends 'base.html.twig' %}

{% block title %}ProviderService{% endblock %}

{% block body %}
    <h1>ProviderService</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ provider_service.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ provider_service.price }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ provider_service.duration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_provider_service_index') }}">back to list</a>

    <a href="{{ path('app_provider_service_edit', {'id': provider_service.id}) }}">edit</a>

    {{ include('provider_service/_delete_form.html.twig') }}
{% endblock %}
