{% extends 'base.html.twig' %} 

{% block title %}Service{% endblock %} 

{% block body %}
<div class="container-prov text-center">
<h1>Nom de la prestation / {{ service.name }}</h1>

{% for providerService in providerServices %} 
<div class="d-inline-flex">
    {% for provider in provider.getProviderById(providerService.provider.id) %}
        <div class="card text-center mx-2 p-0 mb-3" style="width:20rem";>
            <div class="favorite text-secondary text-end pe-2 pt-1">
                <a class="text-secondary" href="#"><i class="bi bi-star fs-4"></i></a>
            </div>
            <div class="d-flex flex-column align-items-center text-center">
                <img
                    class="rounded-circle"
                    width="100px"
                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
                />
            </div>
            <div class="card-body">
                <a href="{{ path('app_provider_services_list', {id: provider.id }) }}"><h6 class="card-title text-break">{{ provider.companyName }}</h6></a>
                
                <p class="fw-bold">
                    <span class="text-primary"
                        ><i class="bi bi-wallet2"></i>
                        {{ providerService.price }} €</span
                    >
                    | <i class="bi bi-clock-history"></i>
                    {{ providerService.duration }} minutes
                </p>
            </div>
            <div class="card-footer">
                <a href="{{ path('app_service_show', {'id': service.id}) }}" class="btn btn-dark" role="button">Détails</a>
                {% if app.user.roles.1 is defined %}
                {% elseif app.user is defined %}
                    <a href="{{ path('app_create_conversation', {id: provider.id, service: service.name}) }}" class="btn btn-success" role="button">Envoyer un message</a>
                {% elseif not app.user %}
                    <a href="{{ path('login') }}" class="btn btn-success" role="button">Envoyer un message</a>
                {% endif %}
            </div>
        </div>
    {% endfor %} 
</div>
{% endfor %} 
</div>
{% endblock %}
